<div class="box_left">
  <%= render "books/list_menu" %>
</div>

<div class="box_center">
<h1>Kontakt</h1>
<p>
  Jeżeli chcesz się z nami skontaktować, napisz mail na adres jakubmatrac@gmail.com
</p>

    </div>
<div class="box_right">
  <%= render "books/show_last_books" %>
</div>